html, body {
    height: 100%;
    margin: 0;
}

#container {
    min-height: 97%;
}
.footersettings{
    text-align: center;
    position:static;
 }
.invisible{
    display:none;
}
.btn-sq-lg {
    width: 200px !important;
    height: 200px !important;
}
.btn-view-product{
    width: 150px !important;
}
.btn-update-product{
    width: 100px !important;
}
.center-text-button{
    font-size:large;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}
.top100{
    margin-top: 100px;
}
